body {
  background-color: rgb(25, 25, 25);
  background-image: url("../immages/background-dark.png");
  background-repeat: repeat;
  background-attachment: scroll;
  font: 1em "Segoe UI";
}

#nome {
  color: rgb(245, 245, 245);
  border-style: none none none solid;
  border-width: 5px;
  border-color: rgb(245, 245, 245);
  background-color: rgb(245, 245, 245);
  margin-right: 65%;
  background-image: url("../immages/background-dark3.png");
  opacity: 0.8;
  text-align: center;
}

p {
  color: whitesmoke;
  font: 1em Arial, sans-serif;
}
