body {
  background-image: url("../immages/background-dark.png");
  background-repeat: repeat;
  background-attachment: scroll;
  border-style: solid;
  border-color: blueviolet;
  border-width: 0.4px;
  border-radius: 6px;
  padding: 0.8%;
  font: 1em "Segoe UI";
}

#nome {
  color: rgb(245, 245, 245);
  border-style: none none none solid;
  border-width: 0.5rem;
  border-color: rgb(245, 245, 245);
  margin-right: 65%;
  padding: 1%;
  background-image: url("../immages/background-dark3.png");
  opacity: 0.8;
  text-align: center;
}

p {
  color: whitesmoke;
  font: 1em Arial, sans-serif;
}
