body {
  background-color: rgb(25, 25, 25);
  opacity: 0.9;
  background-image: url("../immages/background-dark.png");
}

#nome {
  color: rgb(154, 205, 50, 0.9);
  background-color: black;
  border: solid rgb(154, 205, 50, 0.9);
  text-align: center;
  font: 2em Arial, sans-serif;
}
