body {
  background-image: url("../immages/background-dark.png");
  background-repeat: repeat;
  background-attachment: scroll;
  border-style: solid;
  border-color: rgb(138, 43, 226, 0.7);
  border-width: 0.4px;
  border-radius: 5px;
  padding: 0.8%;
  font: 1em "Segoe UI";
}

.testa {
  display: flex;
  align-items: center;
}

#nome {
  color: rgb(245, 245, 245);
  opacity: 0.7;
  border-style: none none none solid;
  border-width: 0.5rem;
  border-color: rgb(245, 245, 245);
  outline-style: solid;
  outline-color: rgb(245, 245, 245, 0.7);
  outline-width: thin;
  outline-offset: 3px;
  border-radius: 5px;
  margin-right: 2%;
  padding-left: 1%;
  background-image: url("../immages/background-dark3.png");
  text-align: center;
}

.contatti {
  color: rgb(245, 245, 245, 0.7);
}

.contatti h2 {
  margin-bottom: 0.8px;
}

.contatti p {
  margin-top: 0.8px;
  margin-bottom: 0.8px;
}

.dati {
  color: rgb(245, 245, 245, 0.7);
  margin: 2%;
}

.dati h2 {
  margin-bottom: 0.6px;
}

.dati p {
  margin-top: 0.6px;
  margin-bottom: 0.6px;
}

#photo {
  height: 90px;
  margin-left: 2%;
}

.nav-bar {
  text-align: center;
  border-style: solid;
  border-width: thin;
  border-color: rgb(245, 245, 245, 0.5);
  border-radius: 5px;
}

.nav-bar a {
  color: whitesmoke;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

p {
  color: whitesmoke;
  font: 1em Arial, sans-serif;
}
