body {
  background-image: url("../immages/background-dark.png");
  background-repeat: repeat;
  background-attachment: scroll;
  border-style: solid;
  border-color: rgb(138, 43, 226, 0.6);
  border-width: 0.2vw;
  border-radius: 1vw;
  padding: 0.8%;
  font: 1em "Segoe UI";
}

.testa {
  display: flex;
  align-items: center;
}

#nome {
  color: rgb(245, 245, 245, 0.9);
  border-style: none none none solid;
  border-width: 0.4vw;
  border-color: rgb(245, 245, 245);
  outline-style: solid;
  outline-color: rgb(245, 245, 245, 0.8);
  outline-width: thin;
  outline-offset: 3px;
  border-radius: 5px;
  margin-right: 2%;
  padding-left: 1%;
  background-image: url("../immages/background-dark3.png");
  text-align: center;
}

.contatti {
  color: rgb(245, 245, 245, 0.9);
}

.contatti h2 {
  margin-bottom: 0.8px;
}

.contatti p {
  margin-top: 0.8px;
  margin-bottom: 0.8px;
}

.dati {
  color: rgb(245, 245, 245, 0.9);
  margin: 2%;
}

.dati h2 {
  margin-bottom: 0.6px;
}

.dati p {
  margin-top: 0.6px;
  margin-bottom: 0.6px;
}

#photo {
  height: 90px;
  margin-left: 2%;
}

.nav-bar {
  text-align: center;
  margin: 1%;
  /*
  border-style: solid;
  border-width: 0.1vw;
  border-color: rgb(245, 245, 245, 0.5);
  border-radius: 0.5vw
  */
}

.nav-bar a {
  color: rgb(245, 245, 245, 0.9);
  background-color: rgb(138, 43, 226, 0.6);
  border-style: groove;
  border-color: rgb(130, 15, 235);
  border-radius: 0.5vw;
  padding: 1%;
  margin: 1%;
  text-decoration: none;
}

p {
  color: whitesmoke;
  font: 1em Arial, sans-serif;
}
