* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f5f5f5;
  color: #333;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  background: #222;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid whitesmoke;
}

.logo {
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.25rem;
}

.nav-links a {
  color: whitesmoke;
  background-color: rgb(25, 45, 95);
  text-decoration: none;
  font-size: 0.9rem;
  border-style: groove;
  border-width: thin;
  border-color: rgb(25, 45, 95);
  border-radius: 0.275rem;
  padding: 0.3rem;
}

.nav-link-page {
  background: rgb(5, 25, 75);
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-weight: 600;
  transition: background 0.3s ease;
}

.nav-link-page:hover {
  background: #059669;
}

/* HERO */
.hero {
  height: 60vh;
  background: rgb(5, 25, 75);
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-align: center;
  padding: 1.25rem;
}

#allSect {
  background-image: url("../immages/background-dark.png");
}
.section {
  padding: 3.125rem 1.25rem;
  text-align: center;
  color: whitesmoke;
}

.section ul {
  list-style: none;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 1.25rem;
  width: 15.625rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

/* FOOTER */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1.25rem;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1vw;
    padding: 3vw;
  }

  .nav-links {
    flex-direction: raw;
    gap: 2rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    width: 100%;
  }

  .nav-links a {
    font-size: 0.9rem;
  }

  .hero {
    height: auto;
    padding: 3.75rem 1.25rem;
  }

  .section {
    padding: 3.125rem 1.25rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .section h2 {
    font-size: 1.5rem;
    margin-bottom: 0.9375rem;
  }

  .section p,
  .section li {
    font-size: 0.95rem;
    line-height: 1.6;
  }

  .card {
    width: 100%;
    max-width: 15.625rem;
  }
}
