body {
  background-color: rgb(25, 25, 25);
  opacity: 0.9;
  background-image: url("../immages/background-dark.png");
  background-repeat: repeat;
  background-attachment: scroll;
}

#nome {
  color: whitesmoke;
  background-color: black;
  border: solid whitesmoke;
  background-image: url("../immages/background-dark2.png");
  text-align: center;
  font: 2em Arial, sans-serif;
}

p {
  color: whitesmoke;
  font: 1em Arial, sans-serif;
}
