.instruction-item {
  background: rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin: 1.5rem 0;
  text-align: left;
}

.exam-list,
.tech-list {
  list-style-type: disc;
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.exam-list li,
.tech-list li {
  margin: 0.5rem 0;
}

#certificate {
  display: flex;
  justify-content: center;
} 

#certificate button{
  background-color: rgb(25, 45, 95);
  color: whitesmoke;
  border-style: groove;
  border-width: thin;
  border-color: rgb(55, 75, 125);
  border-radius: 0.275rem;
  padding: 0.3rem 1.1rem;
}

#certificate button:hover {
  background: #059669;
  cursor: pointer;
}